.hack-overlay {
    display: none;
    background: pink;
    color: #222;
    border: 1px solid #222;
    position: relative;
    width: 300px;
    left: 10px;
    font-size: 0.7rem;
}

.hack-overlay p {
    margin: 0;
}

h2 > a {position: relative}

h2 > a:hover > .hack-overlay {
    display: absolute;
    background: green;
}
